.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 100;
	background-color: #fff;
}
.body {
	min-height: 800px;
	padding-bottom: 50px;
}
.footer {
	height: 50px;
	text-align: center;
}
.footer img {
	display: inline-block;
	margin-top: 10px;
	height: 30px;
}