*{margin:0;padding:0;}
html {
	height: 100%;
}
body{
	font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  width:100%;
  height:100%;
  overflow: auto;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #535353;
}

*:focus {
  outline: 0 !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

label {
  font-weight: normal;
}

ul,li {
	list-style: none;
	padding: 0;
	margin: 0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
/* 开始 padding、margin、border */
	.wrapper-xs {
		padding: 5px;
	}
	.wrapper-sm {
		padding: 10px;
	}
	.wrapper {
		padding: 15px;
	}
	.wrapper-md {
		padding: 20px;
	}
	.wrapper-lg {
		padding: 30px;
	}
	.wrapper-xl {
		padding: 50px;
	}

	.padder-lg {
		padding-right: 30px;
		padding-left: 30px;
	}
	.padder-md {
		padding-right: 20px;
		padding-left: 20px;
	}
	.padder {
		padding-right: 15px;
		padding-left: 15px;
	}
	.padder-v {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.no-padder {
		padding: 0 !important;
	}
	.pull-in {
		margin-right: -15px;
		margin-left: -15px;
	}
	.pull-out {
		margin: -10px -15px;
	}
	.b-a {
		border: 1px solid #dee5e7;
	}
	.b-t {
	  border-top: 1px solid #dee5e7;
	}

	.b-r {
	  border-right: 1px solid #dee5e7;
	}

	.b-b {
	  border-bottom: 1px solid #dee5e7;
	}

	.b-l {
	  border-left: 1px solid #dee5e7;
	}
	.b-light {
	  border-color: #edf1f2;
	}

	.b-dark {
	  border-color: #3a3f51;
	}

	.b-black {
	  border-color: #3a3f51;
	}

	.b-primary {
	  border-color: #7266ba;
	}

	.b-success {
	  border-color: #27c24c;
	}

	.b-info {
	  border-color: #23b7e5;
	}

	.b-warning {
	  border-color: #fad733;
	}

	.b-danger {
	  border-color: #f05050;
	}

	.b-white {
	  border-color: #ffffff;
	}

	.b-dashed {
	  border-style: dashed !important;
	}

	.b-l-light {
	  border-left-color: #edf1f2;
	}

	.b-l-dark {
	  border-left-color: #3a3f51;
	}

	.b-l-black {
	  border-left-color: #3a3f51;
	}

	.b-l-primary {
	  border-left-color: #7266ba;
	}

	.b-l-success {
	  border-left-color: #27c24c;
	}

	.b-l-info {
	  border-left-color: #23b7e5;
	}

	.b-l-warning {
	  border-left-color: #fad733;
	}

	.b-l-danger {
	  border-left-color: #f05050;
	}

	.b-l-white {
	  border-left-color: #ffffff;
	}

	.b-l-2x {
	  border-left-width: 2px;
	}

	.b-l-3x {
	  border-left-width: 3px;
	}

	.b-l-4x {
	  border-left-width: 4px;
	}

	.b-l-5x {
	  border-left-width: 5px;
	}

	.b-2x {
	  border-width: 2px;
	}

	.b-3x {
	  border-width: 3px;
	}

	.b-4x {
	  border-width: 4px;
	}

	.b-5x {
	  border-width: 5px;
	}
	.no-border,
	.no-borders {
	  border-color: transparent !important;
	  border-width: 0 !important;
	}

	.r {
	  border-radius: 2px 2px 2px 2px;
	}

	.r-2x {
	  border-radius: 4px;
	}

	.r-3x {
	  border-radius: 6px;
	}

	.r-l {
	  border-radius: 2px 0 0 2px;
	}

	.r-r {
	  border-radius: 0 2px 2px 0;
	}

	.r-t {
	  border-radius: 2px 2px 0 0;
	}

	.r-b {
	  border-radius: 0 0 2px 2px;
	}
	.m-xxs {
	  margin: 2px 4px;
	}

	.m-xs {
	  margin: 5px;
	}

	.m-sm {
	  margin: 10px;
	}

	.m {
	  margin: 15px;
	}

	.m-md {
	  margin: 20px;
	}

	.m-lg {
	  margin: 30px;
	}

	.m-xl {
	  margin: 50px;
	}

	.m-n {
	  margin: 0 !important;
	}

	.m-l-none {
	  margin-left: 0 !important;
	}

	.m-l-xs {
	  margin-left: 5px;
	}

	.m-l-sm {
	  margin-left: 10px;
	}

	.m-l {
	  margin-left: 15px;
	}

	.m-l-md {
	  margin-left: 20px;
	}

	.m-l-lg {
	  margin-left: 30px;
	}

	.m-l-xl {
	  margin-left: 40px;
	}

	.m-l-xxl {
	  margin-left: 50px;
	}

	.m-l-n-xxs {
	  margin-left: -1px;
	}

	.m-l-n-xs {
	  margin-left: -5px;
	}

	.m-l-n-sm {
	  margin-left: -10px;
	}

	.m-l-n {
	  margin-left: -15px;
	}

	.m-l-n-md {
	  margin-left: -20px;
	}

	.m-l-n-lg {
	  margin-left: -30px;
	}

	.m-l-n-xl {
	  margin-left: -40px;
	}

	.m-l-n-xxl {
	  margin-left: -50px;
	}

	.m-t-none {
	  margin-top: 0 !important;
	}

	.m-t-xxs {
	  margin-top: 1px;
	}

	.m-t-xs {
	  margin-top: 5px;
	}

	.m-t-sm {
	  margin-top: 10px;
	}

	.m-t {
	  margin-top: 15px;
	}

	.m-t-md {
	  margin-top: 20px;
	}

	.m-t-lg {
	  margin-top: 30px;
	}

	.m-t-xl {
	  margin-top: 40px;
	}

	.m-t-xxl {
	  margin-top: 50px;
	}

	.m-t-n-xxs {
	  margin-top: -1px;
	}

	.m-t-n-xs {
	  margin-top: -5px;
	}

	.m-t-n-sm {
	  margin-top: -10px;
	}

	.m-t-n {
	  margin-top: -15px;
	}

	.m-t-n-md {
	  margin-top: -20px;
	}

	.m-t-n-lg {
	  margin-top: -30px;
	}

	.m-t-n-xl {
	  margin-top: -40px;
	}

	.m-t-n-xxl {
	  margin-top: -50px;
	}

	.m-r-none {
	  margin-right: 0 !important;
	}

	.m-r-xxs {
	  margin-right: 1px;
	}

	.m-r-xs {
	  margin-right: 5px;
	}

	.m-r-sm {
	  margin-right: 10px;
	}

	.m-r {
	  margin-right: 15px;
	}

	.m-r-md {
	  margin-right: 20px;
	}

	.m-r-lg {
	  margin-right: 30px;
	}

	.m-r-xl {
	  margin-right: 40px;
	}

	.m-r-xxl {
	  margin-right: 50px;
	}

	.m-r-n-xxs {
	  margin-right: -1px;
	}

	.m-r-n-xs {
	  margin-right: -5px;
	}

	.m-r-n-sm {
	  margin-right: -10px;
	}

	.m-r-n {
	  margin-right: -15px;
	}

	.m-r-n-md {
	  margin-right: -20px;
	}

	.m-r-n-lg {
	  margin-right: -30px;
	}

	.m-r-n-xl {
	  margin-right: -40px;
	}

	.m-r-n-xxl {
	  margin-right: -50px;
	}

	.m-b-none {
	  margin-bottom: 0 !important;
	}

	.m-b-xxs {
	  margin-bottom: 1px;
	}

	.m-b-xs {
	  margin-bottom: 5px;
	}

	.m-b-sm {
	  margin-bottom: 10px;
	}

	.m-b {
	  margin-bottom: 15px;
	}

	.m-b-md {
	  margin-bottom: 20px;
	}

	.m-b-lg {
	  margin-bottom: 30px;
	}

	.m-b-xl {
	  margin-bottom: 40px;
	}

	.m-b-xxl {
	  margin-bottom: 50px;
	}

	.m-b-n-xxs {
	  margin-bottom: -1px;
	}

	.m-b-n-xs {
	  margin-bottom: -5px;
	}

	.m-b-n-sm {
	  margin-bottom: -10px;
	}

	.m-b-n {
	  margin-bottom: -15px;
	}

	.m-b-n-md {
	  margin-bottom: -20px;
	}

	.m-b-n-lg {
	  margin-bottom: -30px;
	}

	.m-b-n-xl {
	  margin-bottom: -40px;
	}

	.m-b-n-xxl {
	  margin-bottom: -50px;
	}

	.p-b-sm {
		padding-bottom: 10px;
	}

	.p-b-md {
		padding-bottom: 20px;
	}

/* 结束 padding、margin、border */

/* 开始 background */
	.bg-light {
	  color: #58666e;
	  background-color: #edf1f2;
	}

	.bg-light.lt,
	.bg-light .lt {
	  background-color: #f3f5f6;
	}

	.bg-light.lter,
	.bg-light .lter {
	  background-color: #f6f8f8;
	}

	.bg-light.dk,
	.bg-light .dk {
	  background-color: #e4eaec;
	}

	.bg-light.dker,
	.bg-light .dker {
	  background-color: #dde6e9;
	}

	.bg-light.bg,
	.bg-light .bg {
	  background-color: #edf1f2;
	}

	.bg-dark {
	  color: #a6a8b1;
	  background-color: #3a3f51;
	}

	.bg-dark.lt,
	.bg-dark .lt {
	  background-color: #474c5e;
	}

	.bg-dark.lter,
	.bg-dark .lter {
	  background-color: #54596a;
	}

	.bg-dark.dk,
	.bg-dark .dk {
	  background-color: #2e3344;
	}

	.bg-dark.dker,
	.bg-dark .dker {
	  background-color: #232735;
	}

	.bg-dark.bg,
	.bg-dark .bg {
	  background-color: #3a3f51;
	}
	.bg-dark a {
	  color: #c1c3c9;
	}

	.bg-dark a:hover {
	  color: #ffffff;
	}
	.bg-black {
	  color: #7793a7;
	  background-color: #1c2b36;
	}

	.bg-black.lt,
	.bg-black .lt {
	  background-color: #263845;
	}

	.bg-black.lter,
	.bg-black .lter {
	  background-color: #314554;
	}

	.bg-black.dk,
	.bg-black .dk {
	  background-color: #131e26;
	}

	.bg-black.dker,
	.bg-black .dker {
	  background-color: #0a1015;
	}

	.bg-black.bg,
	.bg-black .bg {
	  background-color: #1c2b36;
	}

	.bg-black a {
	  color: #96abbb;
	}

	.bg-black a:hover {
	  color: #ffffff;
	}
	.bg-black .text-muted {
	  color: #5c798f !important;
	}
	.bg-primary {
	  color: #f4f3f9;
	  background-color: #7266ba;
	}

	.bg-primary.lt,
	.bg-primary .lt {
	  background-color: #847abf;
	}

	.bg-primary.lter,
	.bg-primary .lter {
	  background-color: #958dc6;
	}

	.bg-primary.dk,
	.bg-primary .dk {
	  background-color: #6051b5;
	}

	.bg-primary.dker,
	.bg-primary .dker {
	  background-color: #5244a9;
	}

	.bg-primary.bg,
	.bg-primary .bg {
	  background-color: #7266ba;
	}

	.bg-primary a {
	  color: #ffffff;
	}

	.bg-primary a:hover {
	  color: #ffffff;
	}
	.bg-primary .text-muted {
	  color: #d6d3e6 !important;
	}
	.bg-success {
	  color: #c6efd0;
	  background-color: #27c24c;
	}

	.bg-success.lt,
	.bg-success .lt {
	  background-color: #31d257;
	}

	.bg-success.lter,
	.bg-success .lter {
	  background-color: #48d46a;
	}

	.bg-success.dk,
	.bg-success .dk {
	  background-color: #20af42;
	}

	.bg-success.dker,
	.bg-success .dker {
	  background-color: #1a9c39;
	}

	.bg-success.bg,
	.bg-success .bg {
	  background-color: #27c24c;
	}

	.bg-success a {
	  color: #eefaf1;
	}

	.bg-success a:hover {
	  color: #ffffff;
	}
	.bg-success .text-muted {
	  color: #9ee4af !important;
	}
	.bg-info {
	  color: #dcf2f8;
	  background-color: #23b7e5;
	}

	.bg-info.lt,
	.bg-info .lt {
	  background-color: #3dbde5;
	}

	.bg-info.lter,
	.bg-info .lter {
	  background-color: #55c3e6;
	}

	.bg-info.dk,
	.bg-info .dk {
	  background-color: #16aad8;
	}

	.bg-info.dker,
	.bg-info .dker {
	  background-color: #1199c4;
	}

	.bg-info.bg,
	.bg-info .bg {
	  background-color: #23b7e5;
	}

	.bg-info a {
	  color: #ffffff;
	}

	.bg-info a:hover {
	  color: #ffffff;
	}
	.bg-info .text-muted {
	  color: #b0e1f1 !important;
	}
	.bg-warning {
	  color: #fffefa;
	  background-color: #fad733;
	}

	.bg-warning.lt,
	.bg-warning .lt {
	  background-color: #f8da4e;
	}

	.bg-warning.lter,
	.bg-warning .lter {
	  background-color: #f7de69;
	}

	.bg-warning.dk,
	.bg-warning .dk {
	  background-color: #fcd417;
	}

	.bg-warning.dker,
	.bg-warning .dker {
	  background-color: #face00;
	}

	.bg-warning.bg,
	.bg-warning .bg {
	  background-color: #fad733;
	}

	.bg-warning a {
	  color: #ffffff;
	}

	.bg-warning a:hover {
	  color: #ffffff;
	}
	.bg-warning .text-muted {
	  color: #fbf2cb !important;
	}
	.bg-danger {
	  color: #ffffff;
	  background-color: #f05050;
	}

	.bg-danger.lt,
	.bg-danger .lt {
	  background-color: #f06a6a;
	}

	.bg-danger.lter,
	.bg-danger .lter {
	  background-color: #f18282;
	}

	.bg-danger.dk,
	.bg-danger .dk {
	  background-color: #f13636;
	}

	.bg-danger.dker,
	.bg-danger .dker {
	  background-color: #f21b1b;
	}

	.bg-danger.bg,
	.bg-danger .bg {
	  background-color: #f05050;
	}

	.bg-danger a {
	  color: #ffffff;
	}

	.bg-danger a:hover {
	  color: #ffffff;
	}
	.bg-danger .text-muted {
	  color: #e6e6e6 !important;
	}

	.bg-white {
	  color: #58666e;
	  background-color: #fff;
	}

	.bg-white a {
	  color: inherit;
	}

	.bg-white a:hover {
	  color: inherit;
	}

	.bg-white .text-muted {
	  color: #98a6ad !important;
	}

	.bg-white .lt,
	.bg-white .lter,
	.bg-white .dk,
	.bg-white .dker {
	  background-color: #fff;
	}

	.bg-white-only {
	  background-color: #fff;
	}

	.bg-white-opacity {
	  background-color: rgba(255, 255, 255, 0.5);
	}

	.bg-black-opacity {
	  background-color: rgba(32, 43, 54, 0.5);
	}
/* 结束 background */

/* 开始 text */
	/* a.text-primary:hover {
	  color: #6254b2;
	}

	.text-primary {
	  color: #7266ba;
	} */
	/* a.text-info:hover {
	  color: #19a9d5;
	}

	.text-info {
	  color: #23b7e5;
	} */

	/* a.text-success:hover {
	  color: #23ad44;
	}

	.text-success {
	  color: #27c24c;
	}

	a.text-warning:hover {
	  color: #f9d21a;
	}

	.text-warning {
	  color: #fad733;
	}

	a.text-danger:hover {
	  color: #ee3939;
	} */

	/* .text-danger {
	  color: #f05050;
	}

	a.text-dark:hover {
	  color: #2f3342;
	} */

	.text-dark {
	  color: #3a3f51;
	}

	.text-white {
	  color: #fff;
	}

	.text-black {
	  color: #000;
	}

	/* .text-muted {
	  color: #98a6ad;
	} */
/* 结束 text */

/* 开始 font-size */
	.font-normal {
	  font-weight: normal;
	}

	.font-thin {
	  font-weight: 300;
	}

	.font-bold {
	  font-weight: 700;
	}

	.text-3x {
	  font-size: 3em;
	}

	.text-2x {
	  font-size: 2em;
	}

	.text-vl {
		font-size: 30px;
	}

	.text-xl {
		font-size: 20px;
	}

	.text-lg {
	  font-size: 18px;
	}

	/* .text-md {
	  font-size: 14px;
	} */

	.text-base {
	  font-size: 14px;
	}

	.text-sm {
	  font-size: 13px;
	}

	.text-xs {
	  font-size: 12px;
	}
/* 结束 font-size */

/* 开始 thumb */
	.thumb-xl {
	  display: inline-block;
	  width: 128px;
	}

	.thumb-lg {
	  display: inline-block;
	  width: 96px;
	}

	.thumb-md {
	  display: inline-block;
	  width: 64px;
	}

	.thumb {
	  display: inline-block;
	  width: 50px;
	}

	.thumb-sm {
	  display: inline-block;
	  width: 40px;
	}

	.thumb-xs {
	  display: inline-block;
	  width: 34px;
	}

	.thumb-xxs {
	  display: inline-block;
	  width: 30px;
	}

	.img-circle {
		border-radius: 50%;
	}
/* 结束 thumb */

/* 开始 width/height */
	.w-xxs {
	  width: 60px;
	}

	.w-xs {
	  width: 90px;
	}

	.w-sm {
	  width: 150px;
	}

	.w {
	  width: 200px;
	}

	.w-md {
	  width: 240px;
	}

	.w-lg {
	  width: 280px;
	}

	.w-xl {
	  width: 320px;
	}

	.w-xxl {
	  width: 360px;
	}

	.w-full {
	  width: 100%;
	}

	.w-auto {
	  width: auto;
	}

	.h-auto {
	  height: auto;
	}

	.h-full {
	  height: 100%;
	}
/* 结束 width/height */

/* 开始 vertical-align */
	.v-middle {
	  vertical-align: middle !important;
	}

	.v-top {
	  vertical-align: top !important;
	}

	.v-bottom {
	  vertical-align: bottom !important;
}
/* 结束 vertical-align */

/* line-height */
	.l-h {
	  line-height: 1.42857143;
	}

	.l-h-0x {
	  line-height: 0;
	}

	.l-h-1x {
	  line-height: 1.2;
	}

	.l-h-2x {
	  line-height: 2em;
	}
/* line-height */
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.dis-inline {
	display: inline-block;
}
.clearfix:before,
.clearfix:after {
	display: table;
  content: " ";
}
.clearfix:after {
	clear: both;
	overflow: hidden;
}
	
.of-hide{
	overflow: hidden;
}

.bgc-ligth-yellow,
tr.bgc-ligth-yellow{
  background-color: #fefcd7;
}

.tx{
	background: #167efb;
}
.sx{
	background: #3dc700;
}
.ts-icon{
	width: 16px;
 height: 16px;
 text-align: center;
 line-height: 16px;
 color: #fff;
 border-radius: 10px;
 display: inline-block;
}
.item-abs-colum-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.item-abs-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.flex-wrap{
	display: -webkit-flex;  /* 新版本语法: Chrome 21+ */

	display: -webkit-box;   /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box;      /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; 
	display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
}

.flex-item-flex{
	-webkit-flex: 1;        /* Chrome */  
	-ms-flex: 1;             /* IE 10 */  
	-webkit-box-flex: 1 ;    /* OLD - iOS 6-, Safari 3.1-6 */  
	-moz-box-flex: 1; 
	flex: 1;                /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex-item-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-item-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flex-wrap-center{
	align-items: center;
}
.flex-item-self{
	align-self: stretch;
}