.main {
  //background-color: white;
  //position: absolute;
  //width: 1500px;
  //top: 55px;
  //left: 10px;
  //bottom: 0px;
  //overflow: hidden;
  //border-radius: 4px;
  //border: 1px solid #dfe4e9;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
  background-color: #fff;
}
.body {
  min-height: 800px;
  padding-bottom: 50px;
}
.footer {
  height: 50px;
  text-align: center;
}
// .footer img {
//   display: inline-block;
//   margin-top: 10px;
//   height: 30px;
// }
